@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'airstreamregular';
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Airstream-webfont.woff') format('woff'),
       url('fonts/Airstream-webfont.ttf') format('truetype'),
       url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  background: rgb(149, 194, 215);
}

.thumbnail-item a {
  text-decoration: none;
  display: block;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.main-header {
  flex: 0 1 auto;
}

.logo-text {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-family: lakeshore;
  font-size: 3.7em;
}

.main-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.thumbnail-list {
  flex: 0 1 auto;
  order: 2;
  display: flex;
  justify-content: space-between;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.thumbnail-item {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  transform: scale(0.8);
  transition: transform 133ms ease-in-out;
}

.thumbnail-item:hover {
  transform: scale(1.0);
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 0.4em 1em;
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  font-family: sans-serif;
  font-size: 1.8em;
}

.detail-image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image-frame {
  position: relative;
  text-align: center;
  transition: transform 333ms cubic-bezier(1,.06,.28,1);;
}

.is-tiny {
  transform: scale(0.001);
  transition: transform 0ms;
}

.detail-image {
  width: 90%;
}

.detail-image-title {
  position: absolute;
  bottom: -0.3em;
  left: 0.4em;
  font-family: airstreamregular;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
  font-size: 4em;
}

.hidden-detail .detail-image-container {
  display: none;
}
.hidden-detail .thumbnail-list {
  flex-direction: column;
  align-items: center;
}
.hidden-detail .thumbnail-item {
  max-width: 80%;
}

@media all and (min-width: 768px) {
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }

  .thumbnail-list {
    flex-direction: column;
    order: 0;
    margin-left: 2em;
  }

  .thumbnail-item {
    max-width: 260px;
  }

  .thumbnail-item + .thumbnail-item {
    margin-top: 2em;
  }
}


.scroll-left {
display: none;
 height: 100%;
 overflow: hidden;
 position: relative;

 color: orange;
 

background: linear-gradient(270deg, #bd6822, #0c4a87);
background-size: 400% 400%;

-webkit-animation: AnimationName 5s ease infinite;
-moz-animation: AnimationName 5s ease infinite;
animation: AnimationName 5s ease infinite;



}
.scroll-left p {
    white-space: nowrap;
    font-size: 3rem;
 position: relative;
 width: 100%;
 height: 100%;
 margin: auto;

 line-height: 35rem;

 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 5s linear infinite;
 -webkit-animation: scroll-left 5s linear infinite;
 animation: scroll-left 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
